source [find interface/stlink-dap.cfg]
set WORKAREASIZE 0x8000
transport select "dapdirect_swd"
set CHIPNAME STM32G474RETx
set BOARDNAME NUCLEO-G474RE
set ENABLE_LOW_POWER 1
set STOP_WATCHDOG 1
set CLOCK_FREQ 24000
reset_config srst_only srst_nogate connect_assert_srst
set CONNECT_UNDER_RESET 1
set CORE_RESET 0
set AP_NUM 0
set GDB_PORT 3333
source [find target/stm32g4x.cfg]
telnet_port 4444

# STM32G474RETx.tpiu configure -protocol uart -traceclk 170000000 -pin-freq 10000000 -output :50003
# STM32G474RETx.tpiu enable